* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html{
   font-size: 100%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6rem;
}

body {
    background: #fff;
    color: #333;
    line-height: 1.6;
}


/* General Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header .logo {
  font-size: 1.5rem;
  color: #000;
}

header nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
  font-size: 1rem;
}

nav a:hover {
  color: #005dc0;
  font-weight: bolder;
}

header .nav-buttons-mobile{
    display: flex;
    align-items: center;
    gap: .5rem;
}

header #menu-btn {
  font-size: 1.3rem;
  color: #007bff;
  display: none; /* hidden on desktop */
  cursor: pointer;
}

header .nav-buttons-mobile a{
    color: #007bff;
    text-decoration: none;
}

/* Buttons */
.btn {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn-primary { background: #007bff; color: #fff; }
.btn-primary:hover { background: #005dc0; }
.btn-outline { background: #fff; color: #007bff; border: 1px solid #007bff; }
.btn-outline:hover { background: #007bff; color: #fff; } 


/* Hero Section */
.hero {
    background: #0057B8;
    color: #fff;
    text-align: center;
    padding: 200px 9%;
    margin-top: 4.8rem;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero p {
    font-size: 1.7rem;
    color: #d9d9d9;
}

/* Quick Access */
.quick-access {
    text-align: center;
    padding: 60px 20px;
}

.quick-access h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}


.quick-access p{
    font-size: 1rem;
    color: #2c2c2c;
    margin-bottom: 1.5rem;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 30px;
    width: 380px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.card i{
    color: #007bff;
    font-size: 4.5rem;
}

.card h3 {
    margin: 15px 0;
    font-size: 18px;
}

.card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}


/* Hero-2 Section */

.hero-2 {
    background: #0057B8;
    color: #fff;
    text-align: center;
    padding: 130px 9%;
    margin-top: 4.8rem;
}

.hero-2 h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero-2 p {
    font-size: 1.7rem;
    color: #d9d9d9;
}

/* FAQ */
.faq {
  max-width: 900px;
  margin: 100px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.faq h2 {
  text-align: center;
  margin-bottom: 10px;
}

.faq p {
  text-align: center;
  margin-bottom: 30px;
  color: #555;
}

.faq-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}

.faq-item .question {
  padding: 15px 20px;
  background: #f7f7f7;
}

.faq-item .question i{
    float: right;
}

.faq-item .answer {
  padding: 15px 20px;
  display: none;
  background: #fff;
  color: #333;
}

.faq-item.active .answer {
  display: block;
}

.faq-item.active .question {
  background: #007bff;
  color: #fff;
}

button#more-faqs {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#more-faqs:hover {
  background: #005dc0;
}


/* Footer */
footer {
display: flex;
align-items: center;
justify-content: space-between;
background-color: #0057B8;
padding: .5rem 4%;
color: #fff;
gap: 2rem;
}

footer .left a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}



/* media queries  */


@media (max-width:991px){
    html{
        font-size: 80%;
    }
}

/* Responsive */
@media (max-width:768px){


    html{
        font-size: 70%;
    }

  header {
    padding: 15px 20px;
  }

  header #menu-btn {
    display: inline-block; /* show hamburger */
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid #ddd;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    z-index: 999;
  }

  nav.active {
    max-height: 500px;
  }

  nav a {
    display: block;
    margin: 15px;
  }

footer {
    flex-wrap: wrap;
    justify-content: center;
}

}

@media (max-width:450px){

    html{
        font-size: 60%;
    }

}